@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 91%;
    --foreground: 211 32% 15%;
    --card: 0 0% 100%;
    --card-foreground: 211 32% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 211 32% 15%;
    --primary: 211 32% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 30% 95%;
    --secondary-foreground: 211 32% 28%;
    --muted: 210 30% 95%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 174 38% 65%;
    --accent-foreground: 211 32% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 174 38% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 211 32% 12%;
    --foreground: 0 0% 91%;
    --card: 211 32% 15%;
    --card-foreground: 0 0% 91%;
    --popover: 211 32% 12%;
    --popover-foreground: 0 0% 91%;
    --primary: 174 38% 65%;
    --primary-foreground: 211 32% 15%;
    --secondary: 211 32% 20%;
    --secondary-foreground: 0 0% 91%;
    --muted: 211 32% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 211 32% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 32% 20%;
    --input: 211 32% 20%;
    --ring: 174 38% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}
